
<p>
  dawka: {{getSelectedMedicine().dose}}
</p>
<p>
  postać: {{getSelectedMedicine().form}}
</p>
<p>
  Urzędowa cena zbytu: {{getSelectedMedicinePricing().tradePrice}}
</p>
<p>
  Cena hurtowa brutto: {{getSelectedMedicinePricing().salePrice}}
</p>
<p>
  Cena detaliczna: {{getSelectedMedicinePricing().retailPrice}}
</p>
<p>
  Wysokość limitu finansowania: {{getSelectedMedicinePricing().totalFunding}}
</p>
<p>
  Poziom odpłatności: {{getSelectedMedicinePricing().chargeFactor}}
</p>
<p>
  Wysokość dopłaty świadczeniobiorcy: {{getSelectedMedicinePricing().refund}}
</p>

<table mat-table
       [dataSource]="getDataSource()" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of getColumnsToDisplay()">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{getColumnContentForHeader(column, element)}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="getColumnsToDisplay().length">
      <div class="example-element-detail"
           [@detailExpand]="element == getExpandedElement() ? 'expanded' : 'collapsed'">
        <p>
          dawka: {{element.dose}}
        </p>
        <p>
          postać: {{element.form}}
        </p>
        <p>
          Urzędowa cena zbytu: {{element.pricing.tradePrice}}
        </p>
        <p>
          Cena hurtowa brutto: {{element.pricing.salePrice}}
        </p>
        <p>
          Cena detaliczna: {{element.pricing.retailPrice}}
        </p>
        <p>
          Wysokość limitu finansowania: {{element.pricing.totalFunding}}
        </p>
        <p>
          Poziom odpłatności: {{element.pricing.chargeFactor}}
        </p>
        <p>
          Wysokość dopłaty świadczeniobiorcy: {{element.pricing.refund}}
        </p>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getColumnsToDisplay()"></tr>
  <tr mat-row *matRowDef="let element; columns: getColumnsToDisplay();"
      class="example-element-row"
      [class.example-expanded-row]="getExpandedElement() === element"
      (click)="clickOnExpandedElement(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
